
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1479301394404'); /* IE9*/
  src: url('iconfont.eot?t=1479301394404#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1479301394404') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1479301394404') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1479301394404#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-3:before { content: "\e679"; }

.icon-4:before { content: "\e67a"; }

.icon-5:before { content: "\e67b"; }

.icon-zliconemail01:before { content: "\e655"; }

.icon-11:before { content: "\e6b3"; }

.icon-dianhua:before { content: "\e669"; }

.icon-6:before { content: "\e676"; }

.icon-201:before { content: "\e601"; }

.icon-dizhi:before { content: "\e6a7"; }

.icon-gerenxinxi-01:before { content: "\e602"; }

.icon-weichat:before { content: "\e661"; }

.icon-email:before { content: "\e663"; }

